<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.porridge.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".RoomList" />
        <activity android:name=".Splashactivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ServantRoom" />
        <activity android:name=".SingleServant" />
        <activity android:name=".BattleMapRoom" />
        <activity android:name=".SingleBattleRoom" />
        <activity android:name=".ConstructionRoom" />
        <activity android:name=".Counter" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>